.videoFooter {
    position: relative;
    margin-left: 20px;
    bottom: 120px;
    
}

.videoFooter__text {
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    margin-bottom: 20px;
}

.videoFooter__text > h3 {
    margin-left: 10px;
    padding-bottom: 30px;
}

.videoFooter__text > h3 > button {
    color: white;
    font-weight: bold;
    text-transform: inherit;
}

.videoFooter__icon {
    color: white;
    position: absolute;
    left: 5px;
}

.videoFooter__ticker > h3 {
    margin-left: 30px;
    padding-bottom: 15px;
    color: white;
}
.videoFooter__actions {
    display: flex;
    position: absolute;
    width: 95%;
    color: white;
    justify-content: space-between;
   
}
.videoFooter__actionsLeft > .MuiSvgIcon-root {
    padding: 0 10px;
}
.videoFooter__actionsRight {
    display: flex;
}

.videoFooter__stat {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.videoFooter__stat > p {
    margin-left: 3px;
}